* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    body {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #6b283b;
}
#container{
    position: relative;
    z-index: 1;
    max-width: 660px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(0, 32, 50, 0.6);
    border-radius: 20px;
    margin-top: 10hv;
    box-shadow: 0 0 40px rgba(0, 0, 255, 0.3);
}
.error-code{
    font-size: 8rem;
    color: #6b283b
}
.error-mensaje{
    font-size: 1.8rem;
    margin: 20px 0;
}
#volver-inicio{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    background-color: none;
    color: #6b283b;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
}
#volver-inicio:hover{
    background-color: #9c5c279f;
}
.error-code{
    font-size: 6rem;
    animation: fadeIn 1s ease-out forwards;
}
.error-mensaje{
    font-size: 1.2rem;
    animation: fadeIn 1s ease-out forwards;
   
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.Robot{
  width: 660px;
  max-width: 90%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.boton-volver{
  display: inline-block;
  background-color: rgba(35, 83, 105, 0.6);
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  animation: fadeIn 1s ease-out forwards;
}